body
	font-family: 'Lato', sans-serif

.demo
	div[class^='col-'],div[class*='col-']
		background: #C4C4C4
		padding-top: 5px
		padding-bottom: 5px
		line-height: 1.6
		&:nth-child(odd)
			background: rgb(226, 226, 226)

	.row
		margin-bottom: 10px

.language-markup
	font-size: 14px

pre[class*="language-"]
	margin-top: 0!important
	font-family: 'Lato', sans-serif!important

//code[class*="language-"], pre[class*="language-"]
	//font-family: 'Lato', sans-serif!important

footer
	padding-top: 20px
	padding-bottom: 20px
	text-align: center