*
	box-sizing: border-box

.row
	@if $isResponsive
		width: 100%
	@else
		width: $maxWidth

	max-width: $maxWidth
	margin: 0 auto
	.row
		width: 100%
	@extend .clearfix
	&.collapse
		padding: 0
	&.collapse-columns
		.column
			padding: 0

.column
	padding-left: $columnPad
	padding-right: $columnPad
	float: left
	width: 100%
	&.collapse
		padding: 0

// fix push fod middle coulumns
// add pull columns

@mixin createColumns
	
	@for $b from 1 through length($breakpoints)

		@for $i from 1 through $columns

			$current: nth($breakpoints, $b)
			$currentName: nth($current, 1)
			$currentWidth: nth($current, 2)

			@if length($breakpoints) >= $b+1
				$next: nth($breakpoints, $b+1)
				$nextName: nth($next, 1)
				$nextWidth: nth($next, 2)

				.col-#{$i}-#{$currentName}
					@media only screen and (min-width: $currentWidth) and (max-width: $nextWidth - 1)
						width: 100%/ ($columns / $i)
					@extend .column
				.push-#{$i}-#{$currentName}
					@media only screen and (min-width: $currentWidth) and (max-width: $nextWidth - 1)
						margin-left: 100%/ ($columns / $i)

			@else
				.col-#{$i}-#{$currentName}
					@media only screen and (min-width: $currentWidth)
						width: 100%/ ($columns / $i)
					@extend .column
				.push-#{$i}-#{$currentName}
					@media only screen and (min-width: $currentWidth)
						margin-left: 100%/ ($columns / $i)

			// curent break point and up
			.col-#{$i}-#{$currentName}-up
				@media only screen and (min-width: $currentWidth)
					width: 100%/ ($columns / $i)
				@extend .column
			.push-#{$i}-#{$currentName}-up
				@media only screen and (min-width: $currentWidth)
					margin-left: 100%/ ($columns / $i)
					
	// all breakpoints
	@for $i from 1 through $columns
		.col-#{$i}
			width: 100%/ ($columns / $i)
			@extend .column
		.push-#{$i}
			margin-left: 100%/ ($columns / $i)
		

@include createColumns